@import "tailwindcss";

html,
body {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
}

@theme {
  --color-primary-blue: #03015d;
  --color-custom-red: #e32636;
  --color-custom-black-200: #535353;
  --color-custom-black-100: #4e4d4d;
  --color-custom-gray: #c4c4c4;

  --shadow-custom-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  --font-custom-exo: "Exo", sans-serif;
}
